@import url(./global.css);

body {
    background-color: var(--light-background-color);
}

.clients {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 80px;
    padding: 72px 0px 20px;
}

.container-clients {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 15px;
}

.title-section {
    display: flex;
    gap: 15px;
}

article {
    width: 348px;
}

.info-cards-clients {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 25px;
}