@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: none;
    font-family: var(--font-family-primary);
}

:root {
  --primary-color: #96BB7C;
  --danger-color: #E74040;
  --dark-background-color: #2D4059;
  --text-color: #252B42;
  --secondary-color-1: #FFAB71;
  --light-background-color: #FFFFFF;
  --light-gray-1: #FAFAFA;

  --muted-color: #BDBDBD;
  --light-text-gray-1: #FAFAFA;
  --secondary: #F3CD03;
  --faded-secondary-color-2: #FFF2F3;
  --second-text-color: #737373;
  --primary-text-color: #96BB7C;
  --light-text-color: #FFFFFF;

  --faded-primary-color: #EFF8ED;
  --alert-color: #E77C40;
  --secondary-color-2: #FF7171;
  --success-color: #2DC071;
  --disabled-element-color: #8EC2F2;
  --faded-secondary-color-1: #DDF4FF;
  --success-text-color: #2DC071;

  --hover-color: #2A7CC7;
  --light-gray-2: #ECECEC;
  --secondary-text-color-1: #FFAB71;
  --secondary-text-color-2: #FF7171;
  --alert-text-color: #E77C40;
  --danger-text-color: #E74040;
  --hover-text-color: #2A7CC7;

  --disabled-element-text-color: #B0BEC2;
  --muted-text-color: #BDBDBD;
  --light-text-gray-2: #ECECEC;

  /* Font family */
  --font-family-primary: 'Montserrat', sans-serif;

  /* Font weights */
  --font-weight-regular: 400;
  --font-weight-bold: 700;

  /* Headings */
  --h1-font-size: 56px;
  --h1-line-height: 80px;
  --h1-font-weight: var(--font-weight-bold);

  --h2-font-size: 40px;
  --h2-line-height: 50px;
  --h2-font-weight: var(--font-weight-bold);

  --h3-font-size: 24px;
  --h3-line-height: 32px;
  --h3-font-weight: var(--font-weight-bold);

  --h4-font-size: 20px;
  --h4-line-height: 30px;
  --h4-font-weight: var(--font-weight-regular);

  --h5-font-size: 16px;
  --h5-line-height: 24px;
  --h5-font-weight: var(--font-weight-bold);

  --h6-font-size: 14px;
  --h6-line-height: 24px;
  --h6-font-weight: var(--font-weight-bold);

  /* Text styles */
  --paragraph-font-size: 14px;
  --paragraph-line-height: 20px;
  --paragraph-font-weight: var(--font-weight-regular);

  --link-font-size: 14px;
  --link-line-height: 24px;
  --link-font-weight: var(--font-weight-bold);

  --btn-text-font-size: 14px;
  --btn-text-line-height: 22px;
  --btn-text-font-weight: var(--font-weight-bold);

  --small-font-size: 12px;
  --small-line-height: 16px;
  --small-font-weight: var(--font-weight-regular);

  --light-drop-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
  --accentued-drop-shadow: 0px 13px 19px 0px rgba(0, 0, 0, 0.07);
}

.container-description-section {
    font-size: var(--h6-font-size);
    color: var(--primary-text-color);
    font-weight: var(--font-weight-bold);
    line-height: 24px;
}

.btn-primary {
    padding: 15px 40px;
    font-size: var(--font-btn-text);
    color: var(--light-text-color);
    font-weight: var(--font-weight-bold);
    border: none;
    background-color: var(--primary-color);
    border-radius: 5px;
}

.title-section {
    font-size: var(--h2-font-size);
    font-weight: var(--font-weight-bold);
    color: var(--text-color);
}