

:root {
  --primary-color: #96BB7C;
  --danger-color: #E74040;
  --dark-background-color: #2D4059;
  --text-color: #252B42;
  --secondary-color-1: #FFAB71;
  --light-background-color: #FFFFFF;
  --light-gray-1: #FAFAFA;

  --muted-color: #BDBDBD;
  --light-text-gray-1: #FAFAFA;
  --secondary: #F3CD03;
  --faded-secondary-color-2: #FFF2F3;
  --second-text-color: #737373;
  --primary-text-color: #96BB7C;
  --light-text-color: #FFFFFF;

  --faded-primary-color: #EFF8ED;
  --alert-color: #E77C40;
  --secondary-color-2: #FF7171;
  --success-color: #2DC071;
  --disabled-element-color: #B0BEC2;
  --faded-secondary-color-1: #DDF4FF;
  --success-text-color: #2DC071;

  --hover-color: #2A7CC7;
  --light-gray-2: #ECECEC;
  --secondary-text-color-1: #FFAB71;
  --secondary-text-color-2: #FF7171;
  --alert-text-color: #E77C40;
  --danger-text-color: #E74040;
  --hover-text-color: #2A7CC7;

  --disabled-element-text-color: #B0BEC2;
  --muted-text-color: #BDBDBD;
  --light-text-gray-2: #ECECEC;

  /* Font family */
  --font-primary: 'Montserrat', sans-serif;

  /* Font weights */
  --font-regular: 400;
  --font-bold: 700;

  /* Typography */
  --font-link: 700 14px/24px var(--font-primary);
  --font-paragraph: 400 14px/20px var(--font-primary);
  --font-h1: 700 56px/80px var(--font-primary);
  --font-small: 400 12px/16px var(--font-primary);
  --font-h5: 700 16px/24px var(--font-primary);
  --font-h4: 400 20px/30px var(--font-primary);
  --font-btn-text: 700 14px/22px var(--font-primary);
  --font-h6: 700 14px/24px var(--font-primary);
  --font-h2: 700 40px/50px var(--font-primary);
  --font-h3: 700 24px/32px var(--font-primary);

  --light-drop-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);

   --accentued-drop-shadow: 0px 13px 19px 0px rgba(0, 0, 0, 0.07);
}
