@import url(./global.css);

.Popular-courses {
    background-color: var(--light-background-color);
}
.content-popular-courses {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 120px;
}

.content-popular-courses .student-popular {
    width: 376.94px;
    height: 440.61px;
}
.didactic-course .line-red {
    display: flex;
    align-self: start;
    width: 94px;
    height: 7px;
    background-color: var(--danger-color);


}
.didactic-course {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 35px;
    width: 381px;
    height: 296px;
}
.didactic-course p {
    font-size: var(--paragraph-font-size);
    font-weight: var(--paragraph-font-weight);
    line-height: var(--paragraph-line-height);
    letter-spacing: 0.2px;
    color: var(--second-text-color);
    width: 345px;

}
.didactic-course .learn-more a{
    display: flex;
    align-items: center;
    gap: 10px;
    
    
}
.didactic-course .learn-more a {
    text-decoration: none;
    color: var(--primary-text-color);
    font-size: var(--link-font-size);
    font-weight: var(--link-font-weight);
    line-height: var(--link-line-height);

}
