@import url(./global.css);

main>.brand{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 91px;
}

.brand>h1{
    font-size: var(--font-h5);
 
}

nav>ul{
    display: flex;
    gap: 21px;
}

nav>ul>li{
    list-style: none;
}

nav>ul>li>a{
    text-decoration: none;
    font-size: 14px;
    font-weight: var(--font-bold);
    color: var(--second-text-color);
}


.butt{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.butt>a{
    font-size: var(--font-link);
    font-weight: var(--font-bold);
    color: var(--primary-text-color);
    background-color: transparent;
    text-decoration: none;
}

.btn-primary{
    display: flex;

    justify-content: center;
    align-items: center;
    gap: 15px;
}

hero{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
    margin-top: 4px;
}

.md-6{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 175px 0px;
}

.md-6>h1{
    font-size: var(--h1-font-size);
    line-height: var(--h1-line-height);
}

.md-6>p{
    font-size: var(--h4-font-size);
    font-weight: var(--h4-font-weight);
    line-height: var(--h4-line-height);
    color: var(--second-text-color);
}

.md-6>h1>span{
    display: flex;
    flex-direction: column;
}

.md-6>p>span{
    display: flex;
    flex-direction: column;
}

.butttwo{
    display: flex;
    gap: 10px;
    
}

.bott-hero{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:var(--link-font-size) ;
    font-weight: var(--link-font-weight);
    line-height: var(--link-line-height);
    color: var(--primary-text-color) ;
    padding: 15px 40px;
    border-radius: 5px;
    background-color: transparent;
    border: 1px solid var(--primary-color);
}


/* section pencil */

section {
    height: 664px;
}

.toop {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.toop>h6 {
    color: var(--primary-color);
    font-size: var(--h6-font-size);
    font-weight: var(--h6-font-weight);
    line-height: var(--h6-line-height);
    margin-top: 81px;
}

.toop>h3 {
    padding: 10px 0px;
}

.toop>p {
    display: flex;
    color: var(--second-text-color);
    margin-top: 10px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.toop>p>span {
    display: flex;
    flex-direction: column;
}

.resp {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 80px;
}

.img1 {
    border-radius: 20px;
    width: 688px;
    height: 363px;
}

.img2 {
    position: absolute;
    top: 136px;
}

/* Most popular */

.most-popular {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
    padding: 160px 0;
    background-color: var(--light-background-color);
    
}
.most-popular .content-most-popular {
    width: 691px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    text-align: center;

}
.content-most-popular p {
    font-size: var(--paragraph-font-size);
    font-weight: var(--paragraph-font-weight);
    line-height: var(--paragraph-line-height);
    color: var(--second-text-color);
    width: 463px;
    letter-spacing: 0.2px;
}

.most-popular .container-cards-courses {
    display: flex;
    justify-content: center;
    gap: 30px;
    
}
.most-popular .card-most-popular {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    text-align: center;
    width: 328px;
    height: 264px;
    padding: 35px 40px;
    box-shadow: var(--accentued-drop-shadow);
    background-color: var(--light-background-color);
    transition: 0.5s;


}
.most-popular .card-most-popular:hover {
    transform: translateY(-8px);
    
}

.card-most-popular .line-red {
    background-color: var(--danger-color);
    width: 50px;
    height: 2px;
}
.card-most-popular h5 {
    font-size: var(--h5-font-size);
    font-weight: var(--h5-font-weight);
    color: var(--text-color);
}

.card-most-popular img {
    width: 48px;
}
.card-most-popular p {
    font-size: var(--paragraph-font-size);
    font-weight: var(--paragraph-font-weight);
    line-height: var(--paragraph-line-height);
    color: var(--second-text-color);
    letter-spacing: 0.2px;
    width: 136px;
    
}

/* Popular courses */

.Popular-courses {
    background-color: var(--light-background-color);
    margin-top: 80px;
}
.content-popular-courses {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 120px;
}

.content-popular-courses .student-popular {
    width: 376.94px;
    height: 440.61px;
}
.didactic-course .line-red {
    display: flex;
    align-self: start;
    width: 94px;
    height: 7px;
    background-color: var(--danger-color);


}
.didactic-course {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 35px;
    width: 381px;
    height: 296px;
}
.didactic-course p {
    font-size: var(--paragraph-font-size);
    font-weight: var(--paragraph-font-weight);
    line-height: var(--paragraph-line-height);
    letter-spacing: 0.2px;
    color: var(--second-text-color);
    width: 345px;

}
.didactic-course .learn-more a{
    display: flex;
    align-items: center;
    gap: 10px;
    
    
}
.didactic-course .learn-more a {
    text-decoration: none;
    color: var(--primary-text-color);
    font-size: var(--link-font-size);
    font-weight: var(--link-font-weight);
    line-height: var(--link-line-height);

}

